@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
}

html,body {
  font-family: Avenir;
  background: #e7d491ff;
  box-sizing: border-box;
  margin: 30px 60px;
  overflow-wrap: break-word;
  font-size: 16px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 20px;
}

p {
  margin-left: 20px;
}

input[type="week"] {
  padding: 3px 7px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #222222;
  margin-right: 5px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 200px;
  height: 35px;
  padding: 3px 7px;
  border-radius: 5px;
  border: 1px solid #222222;
  margin-right: 5px;
  margin-bottom: 10px;
}

button {
  font-weight: bold;
  color: #222222;
  text-align: center;
  font-family: Avenir;
  background: #e7d491ff;
  background-clip: padding-box;
  border: 2px solid #222222;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.3s;
}

button:hover {
  color: #e7d491ff;
  background: #222222;
  border-color: #222222;
  cursor: pointer;
}

/*リセット */
input[type="checkbox"]  {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* チェックボックスデザイン */
input[type="checkbox"] {
    cursor: pointer;
    padding-left: 30px;/*label手前にチェックボックス用の余白を開ける*/
    vertical-align: middle;
    position: relative;
  }
  input[type="checkbox"]::before,
  input[type="checkbox"]::after {
    content: "";
    display: block;
    position: absolute;
  }
  input[type="checkbox"]::before {
    background-color: #eee3bdff;
    border-radius: 0%;
    border: 2px solid #222222;
    width: 15px;/*チェックボックスの横幅*/
    height: 15px;/*チェックボックスの縦幅*/
    transform: translateY(-50%);
    top: 50%;
    left: 5px;
  }
  input[type="checkbox"]::after {
    border-bottom: 2px solid #222222;/*チェックの太さ*/
    border-left: 2px solid #222222;/*チェックの太さ*/
    opacity: 0;/*チェック前は非表示*/
    height: 7px;/*チェックの高さ*/
    width: 10px;/*チェックの横幅*/
    transform: rotate(-45deg);
    top: -6px;/*チェック時の位置調整*/
    left: 8px;/*チェック時の位置調整*/
  }
  input[type="checkbox"]:checked::after {
    opacity: 1;/*チェック後表示*/
  }

.checkbox-ul {
  list-style: none;
}

textarea {
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #222222;
}

.register {
  text-align: center;
}

.register button {
  margin: 50px auto;
  color: #e7d491ff;
  text-align: center;
  font-size: 18px;
  font-family: Avenir;
  font-weight: bold;
  background: #222222;
  background-clip: padding-box;
  border: 3px solid #222222;
  border-radius: 5px;
  width: 33%;
  display: block;
  padding: 10px 10px;
  transition: 0.3s;
}

.register button:hover {
  color: #222222;
  background: #e7d491ff;
  border-color: #222222;
}

.warning {
  color: red;
  margin-left: 0px;
}

.bold {
  font-weight: bold;
}

.task-list {
  margin-left: 30px;
}